//背景顏色

$bg-white:white;
$bg-span-black:#111;
$bg-scroll-gray:#282E34;


//文字顏色
$font-color-span:#fff;
$font-color-black:#111;
$font-color-content:#777;
$font-color-p:#ddd;

//文字大小

$font-size-span:25px;
$font-size-title:20px;
$font-size-content:5px;

//遮罩顏色

$mask:rgba(255, 255, 255, 0.562)

