    @import './_style_guide.scss';

body{
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    line-height: 1;
}

.photo_Man{
    width: 100%;
    min-height: 100vh;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://www.w3schools.com/howto/img_parallax.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    .capatain{
        //上下間距太寬
        background-color: $bg-span-black;
        color: $font-color-span;
        padding: 18px;
        font-size: $font-size-span;
        letter-spacing: 10px;

    }
}

.demo{
    display: flex;
    flex-wrap: wrap;
    background-color: $bg-white;
    justify-content: center;
    padding: 50px 80px;
    
    h3{
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        text-align: center;
        color: $font-color-black;
        margin: 20px 0 ;
        letter-spacing: 5px;
        font-size: $font-size-title;
    }
    
    p{
        line-height: 27px;
        color:$font-color-content}

}

.photo_Woman{
    background-image: url('https://www.w3schools.com/howto/img_parallax2.jpg');
    min-height: 400px;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    span{
        padding: 18px;
        letter-spacing: 10px;
        background-color: transparent;
        font-size: $font-size-span;
        color: $font-color-span;
    }
}

.guide_scroll{
    padding: 50px 80px;
    background-color:$bg-scroll-gray;
    
    p{color:$font-color-p;
    }
}

.photo_Camera{
    background-image: url(https://www.w3schools.com/howto/img_parallax3.jpg);
    min-height: 400px;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        padding: 18px;
        letter-spacing: 10px;
        background-color: transparent;
        font-size: $font-size-span;
        color: $font-color-span;
    }
}



